/* ====isotope css js ==== */
.portfolio-menu {
  text-align: center;
}
.portfolio-menu ul li {
  list-style: none;
  display: inline-block;
  margin: 6px 0;
  border: 1px solid #e74c3c;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.portfolio-menu ul li:hover {
  background: #e74c3c;
  color: #fff;
}
.portfolio-menu li.active {
  background: #e74c3c;
  color: #fff;
}
.portfolio-item {
  width: 100%;
}
@media (min-width:576px) {
  .portfolio-item .item img {
    width: 100%;
    aspect-ratio: 1 /1 ;
    object-fit: cover;
  }
}
.portfolio-item .item img {
  width: 100%;
  height: auto;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 35em) {
  .portfolio-menu ul li {
    margin: 4px 0;
  }
  .portfolio-item .item {
    width: 100%;
    padding-right: 15px;
  }
}

ul.isotope-ul {
  /* display: block; */
  padding: 0;
  /* text-wrap: balance; */
}

.portfolio-item a.btn.btn-primary {
  background: transparent;
  padding: 0;
  border: 0;
}